[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
fastapi = {extras = ["all"], version = "*"}
diffusers = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.11"
